//background colour
$backgroundColor: #FFF;

//background section
$backgroundSection: #F3F6F3;

//font colour
$fontColor: #32322C;

// links border buttons etc
$colorSelect: #589F17;

// links border buttons etc on Hover
$colorSelectHover: #518424;

// color active button
$colorSelectActive: #8CBB61;

// font family defined here
$fontFamily: 'Lato', sans-serif;

// form font color
$fontFormColor: #828282;

// header height
$headerHeight: 96px;

// menu width
$menuWidth: 180px;

// menu font color
$menuFontColor: #454663;
