@import '../../assets/sass/variables/mixins';
@import '../../assets/sass/variables/colors';

.gallery {
  padding-top: 80px;
  padding-bottom: 100px;
  background: rgba(243, 246, 243, 1) url("../../assets/images/bggalery.jpg") no-repeat left bottom;

  &__picitem {
    display: flex;
    flex-wrap: wrap;
  }

  &__pics {
    width: 100%;
  }

  &__items {
    width: calc(100% / 3 - 20px);
    margin-bottom: 30px;
  }

  &__items:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }

  &__lists ul {
    display: flex;
    justify-content: center;
  }

  &__pageli {
    width: 132px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    background: $backgroundColor;
    border: 1px solid $colorSelect;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__pageli a {
    text-decoration: none;
  }

  &__page {
    @include  fontProper(18px, 700, 21px, 0.01em, $fontColor);
  }
}

.active {
  background: $colorSelect;
}

.active a span {
  color: $backgroundColor;
}


@media screen and (max-width: 1024px) {
  .content {
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .advntcontent {
    padding: 0 60px;
  }

  .gallery__items {
    width: calc(100% / 2 - 15px);
  }

  .gallery__items:not(:nth-child(3n+3)) {
    margin-right: 0;
  }

  .gallery__items:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 425px) {
  .content {
    padding: 0 16px;
  }

  .gallery__items {
    width: 100%;
    margin-right: 0 !important;
  }

  .gallery__items:nth-child(n + 4) {
    display: none;
  }
}
