@import './variables/mixins';
@import './variables/colors';

input[type="checkbox"] {
  display: none;
}

.menu {
  &__list {
    position: absolute;
    box-sizing: border-box;
    z-index: 200;
    top: 0;
    width: $menuWidth;
    background: white;
    padding: 32px;
    left: -$menuWidth;
    transition: left .3s;
  }

  &__item:not(:last-child) {
    padding-bottom: 16px;
  }

  &__ul:first-child {
    padding-top: 32px;
  }

  &__link {
    color: $fontColor;
    text-decoration: none;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__tclose {
    cursor: pointer;
  }

  #menu__toggle:checked ~ .menu__list {
    left: 0;
    box-shadow: 4px 0 20px 0 rgb(0 0 0 / 50%);
  }

  #menu__toggle:checked ~ .mask__content {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
  }
}
