@import './variables/mixins';
@import './variables/colors';

@media screen and (max-width: 1024px) {
  .content {
    padding: 0 60px;
  }

  .advntcontent {
    padding: 0 calc(50% - 409px);
  }
}

@media screen and (max-width: 768px) {
  .advntcontent {
    padding: 0 60px;
  }

  .top__menu {
    display: block;
  }

  .header__textmenu {
    display: none;
  }

  .header__background {
    flex-direction: column;
    background: url("../../assets/images/bannerfilter640.png"), url("../../assets/images/banner640.jpg") no-repeat center;
    background-size: cover;
    min-height: 681px;
    align-items: baseline;
  }

  .header__title {
    margin-top: 32px;
  }

  .header__form {
    margin-bottom: 32px;
  }

  .advantages__item {
    width: calc(100% / 2 - 32px);
  }

  .gallery__items {
    width: calc(100% / 2 - 15px);
  }

  .gallery__items:not(:nth-child(3n+3)) {
    margin-right: 0;
  }

  .gallery__items:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .footer__addressmob {
    display: none;
  }

  .footer__addressdesc {
    display: block;
    text-align: end;
  }

  .footer__textlink {
    line-height: 40px;
  }

  .footer__iposition {
    margin-right: 0;
  }

  .footer__iposition {
    column-count: 2;
  }

  .footer__content {
    justify-content: space-around;
  }
}

@media screen and (max-width: 425px) {
  .content {
    padding: 0 16px;
  }

  .advntcontent {
    padding: 0 16px;
  }

  .header__background {
    min-height: 720px;
  }

  .header__title {
    @include fontProper(24px, 500, 26px, 0.04em, $fontColor);
  }

  .header__formicon {
    left: calc(50% - 56px);
  }


  .phone a {
    @include fontProper(16px, 400, 32px, 0.01em, $fontColor);
  }

  .advantages__item {
    width: 100%;
  }

  .gallery__items {
    width: 100%;
    margin-right: 0 !important;
  }

  .gallery__items:nth-child(n + 4) {
    display: none;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__iposition {
    column-count: 1;
  }

  .footer__textlink {
    line-height: 40px;
  }
}
